.card {
    margin: 20;
    background: "#e8eaf6"
  };
.heading {
    background: "#9a74db";
    min-height: 50;
    line-height: 3.5;
    font-size: "1.2rem";
    color: "white";
    padding: "0 20px"
  }